---
import "../styles/components/about-home.css";
import ContactSocialIcons from "./ContactSocialIcons.astro";
---

<div class="card__about" data-aos="fade-right" >
  <div class="card-photo">
    <img class="about__img--src" src="public/img/Rectangle 76 (1).png" alt="" />
  </div>
  <div class="card-title">
    <p>MéoDev</p>
    <span>Frontend Developer</span>
  </div>
  <div class="card-socials">
  <ContactSocialIcons/>
</div>
</div>
